* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flexbox {
  display: flex;
  justify-content: space-between;

  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
  height: 200vh;
}

/* board */
.flexbox .drop {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  padding: 40px;
}

/* card */
.flexbox .drop .drag {
  cursor: pointer;
  margin-bottom: 15px;
}

.drag {
  display: flex;
  list-style: none;
  background-color: rgb(71, 133, 255);
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1em;
  line-height: 2em;
  user-select: none;
  border-radius: 3px;
  border-style: solid;
  border-color: rgba(11, 99, 83, 0.2);
  border-image: initial;
  /* height: 2rem; */
  padding: 5px 10px;
}

.card {
  display: flex;
  background-color: rgb(71, 133, 255);
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1em;
  line-height: 2em;
  user-select: none;
  border-radius: 3px;
  border-style: solid;
  border-color: rgba(11, 99, 83, 0.2);
  border-image: initial;
  height: 2rem;
  padding: 5px 24px;
}

.addTaskBtn {
  opacity: 0.5;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  min-height: 56px;
  background: rgb(255, 255, 255);
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(186, 205, 247);
  border-image: initial;
  padding: 0px 4px;
}

.addTaskBtn input {
  background: transparent;
  border: none;
  padding: 5px;
  height: 50px;
  width: 100%;
}

.addTaskBtn input:focus,
.addTaskBtn input:focus-within,
.addTaskBtn input:active,
.addTaskBtn input:visited {
  border: none !important;
}
