.App {
  font-family: sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(244, 245, 246);
  font-weight: 400;
  line-height: 1.5;
  padding: 2rem;
}

.list_container {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px 0px;
  height: 100%;
  border-radius: 8px;
  padding: 40px;
}

.list_ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list_ul li,
.list_container li {
  display: flex;
  background-color: rgb(71, 133, 255);
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1em;
  line-height: 2em;
  user-select: none;
  border-radius: 3px;
  border-style: solid;
  border-color: rgba(11, 99, 83, 0.2);
  border-image: initial;
  height: 2rem;
  padding: 5px 10px;
}

.list_ul .hidden {
  opacity: 0.5;
}

.list_ul .list_content {
  display: flex;
  width: 100%;
}
